.calc {
    color: white;
    margin: 40px auto 40px auto;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    text-align: center;
    background-color: #001529;
    padding: 25px;
    line-height: 30px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    border-radius: 25px;
}

.calc-text {
    color: white;
}

.calc.dates {
    min-height: 275px;
}

#investment-amount {
    width: 50%;
    text-align: center;
    align-self: center;
}